<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.efounder.JEnterprise.mapper.sceneLink.SceneTriggerMapper">
    <resultMap type="SceneTrigger" id="SceneTriggerResult">
        <result property="id"    column="id"    />
        <result property="sceneId"    column="scene_id"    />
        <result property="triggerModeCode"    column="trigger_mode_code"    />
        <result property="cronExpression"    column="cron_expression"    />
        <result property="triggerSceneId"    column="trigger_scene_id"    />
        <result property="jobId" column="job_id"/>
        <result property="deviceId" column="device_id"/>
        <result property="deviceName" column="device_name"/>
        <result property="deviceType" column="device_type"/>
        <result property="deviceInstruct" column="device_instruct"/>
        <result property="operator" column="operator"/>
        <result property="operatorValue" column="operator_value"/>
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <sql id="selectSceneTriggerVo">
        select id, scene_id, trigger_mode_code, cron_expression, trigger_scene_id,job_id,device_id,device_instruct,operator,operator_value,device_name,device_type, create_time, update_time from athena_bes_scene_trigger
    </sql>
    <select id="selectSceneTriggerList" parameterType="SceneTrigger" resultMap="SceneTriggerResult">
        <include refid="selectSceneTriggerVo"/>
        <where>
            <if test="sceneId != null "> and scene_id = #{sceneId}</if>
            <if test="triggerModeCode != null  and triggerModeCode != ''"> and trigger_mode_code = #{triggerModeCode}</if>
            <if test="cronExpression != null  and cronExpression != ''"> and cron_expression = #{cronExpression}</if>
            <if test="triggerSceneId != null "> and trigger_scene_id = #{triggerSceneId}</if>
        </where>
    </select>

    <select id="selectSceneTriggerById" parameterType="Long" resultMap="SceneTriggerResult">
        <include refid="selectSceneTriggerVo"/>
        where id = #{id}
    </select>
    <select id="selectSceneTriggerAll" resultType="com.zc.efounder.JEnterprise.domain.sceneLink.SceneTrigger">
        select t.*,t2.scene_status sceneStatus from athena_bes_scene_trigger as t  INNER JOIN athena_bes_scene t2 on t.scene_id=t2.id
    </select>

    <insert id="insertSceneTrigger" parameterType="SceneTrigger" useGeneratedKeys="true" keyProperty="id">
        insert into athena_bes_scene_trigger
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sceneId != null">scene_id,</if>
            <if test="triggerModeCode != null">trigger_mode_code,</if>
            <if test="cronExpression != null">cron_expression,</if>
            <if test="triggerSceneId != null">trigger_scene_id,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="deviceName != null">device_name,</if>
            <if test="deviceType != null">device_type,</if>
            <if test="deviceInstruct != null">device_instruct,</if>
            <if test="operator != null">operator,</if>
            <if test="operatorValue != null">operator_value,</if>
            <if test="jobId != null">job_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sceneId != null">#{sceneId},</if>
            <if test="triggerModeCode != null">#{triggerModeCode},</if>
            <if test="cronExpression != null">#{cronExpression},</if>
            <if test="triggerSceneId != null">#{triggerSceneId},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="deviceName != null">#{deviceName},</if>
            <if test="deviceType != null">#{deviceType},</if>
            <if test="deviceInstruct != null">#{deviceInstruct},</if>
            <if test="operator != null">#{operator},</if>
            <if test="operatorValue != null">#{operatorValue},</if>
            <if test="jobId != null">#{jobId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSceneTrigger" parameterType="SceneTrigger">
        update athena_bes_scene_trigger
        <trim prefix="SET" suffixOverrides=",">
            <if test="sceneId != null">scene_id = #{sceneId},</if>
            <if test="triggerModeCode != null">trigger_mode_code = #{triggerModeCode},</if>
            <if test="cronExpression != null">cron_expression = #{cronExpression},</if>
            <if test="triggerSceneId != null">trigger_scene_id = #{triggerSceneId},</if>
            <if test="deviceId != null">device_id=#{deviceId},</if>
            <if test="deviceName != null">device_name=#{deviceName},</if>
            <if test="deviceType != null">device_type=#{deviceType},</if>
            <if test="deviceInstruct != null">device_instruct=#{deviceInstruct},</if>
            <if test="operator != null">operator=#{operator},</if>
            <if test="operatorValue != null">operator_value=#{operatorValue},</if>
            <if test="jobId != null">job_id=#{jobId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSceneTriggerById" parameterType="Long">
        delete from athena_bes_scene_trigger where id = #{id}
    </delete>

    <delete id="deleteSceneTriggerByIds" parameterType="String">
        delete from athena_bes_scene_trigger where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteBySceneIdBoolean">
        delete from athena_bes_scene_trigger  where scene_id=#{sceneId}
    </delete>
</mapper>
