<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.efounder.JEnterprise.mapper.sceneLink.SceneMapper">

    <resultMap type="Scene" id="SceneResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="triggerMode"    column="trigger_mode"    />
        <result property="sceneStatus"    column="scene_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>


    <resultMap type="sceneLog" id="SceneLogResult">
        <result property="id"    column="id"    />
        <result property="sceneId"    column="scene_id"    />
        <result property="sceneName"    column="scene_name"    />
        <result property="triggerModeCode"    column="trigger_mode_code"    />
        <result property="triggerContent"    column="trigger_content"    />
        <result property="triggerId"    column="trigger_id"    />
        <result property="actuatorIds"    column="actuator_ids"    />
        <result property="actuatorContent"    column="actuator_content"    />
        <result property="executeTime"    column="execute_time"    />
    </resultMap>


    <sql id="selectSceneVo">
        select id, name, trigger_mode, scene_status, create_time, update_time from athena_bes_scene
    </sql>

    <sql id="selectSceneLogVo">
        select id, scene_id, scene_name, trigger_mode_code, trigger_content, trigger_id, actuator_ids, actuator_content, execute_time from athena_bes_scene_log
    </sql>

    <select id="selectSceneList" parameterType="Scene" resultMap="SceneResult">
        <include refid="selectSceneVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="triggerMode != null  and triggerMode != ''"> and trigger_mode = #{triggerMode}</if>
            <if test="sceneStatus != null "> and scene_status = #{sceneStatus}</if>
        </where>
    </select>

    <select id="selectSceneLogList" parameterType="SceneLog" resultMap="SceneLogResult">
        <include refid="selectSceneLogVo"/>
        <where>
            <if test="sceneId != null "> and scene_id = #{sceneId}</if>
            <if test="sceneName != null  and sceneName != ''"> and scene_name like concat('%', #{sceneName}, '%')</if>
            <if test="triggerModeCode != null  and triggerModeCode != ''"> and trigger_mode_code = #{triggerModeCode}</if>
            <if test="triggerContent != null  and triggerContent != ''"> and trigger_content = #{triggerContent}</if>
            <if test="triggerId != null "> and trigger_id = #{triggerId}</if>
            <if test="actuatorIds != null  and actuatorIds != ''"> and actuator_ids = #{actuatorIds}</if>
            <if test="actuatorContent != null  and actuatorContent != ''"> and actuator_content = #{actuatorContent}</if>
            <if test="executeTime != null "> and execute_time = #{executeTime}</if>
        </where>
        order by  execute_time desc
    </select>

    <select id="selectSceneById" parameterType="Long" resultMap="SceneResult">
        <include refid="selectSceneVo"/>
        where id = #{id}
    </select>


    <select id="selectSceneLogById" parameterType="Long" resultMap="SceneLogResult">
        <include refid="selectSceneLogVo"/>
        where id = #{id}
    </select>
    <insert id="insertScene" parameterType="Scene" useGeneratedKeys="true" keyProperty="id">
        insert into athena_bes_scene
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="triggerMode != null">trigger_mode,</if>
            <if test="sceneStatus != null">scene_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="triggerMode != null">#{triggerMode},</if>
            <if test="sceneStatus != null">#{sceneStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <insert id="insertSceneLog" parameterType="SceneLog" useGeneratedKeys="true" keyProperty="id">
        insert into athena_bes_scene_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sceneId != null">scene_id,</if>
            <if test="sceneName != null">scene_name,</if>
            <if test="triggerModeCode != null">trigger_mode_code,</if>
            <if test="triggerContent != null">trigger_content,</if>
            <if test="triggerId != null">trigger_id,</if>
            <if test="actuatorIds != null">actuator_ids,</if>
            <if test="actuatorContent != null">actuator_content,</if>
            <if test="executeTime != null">execute_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sceneId != null">#{sceneId},</if>
            <if test="sceneName != null">#{sceneName},</if>
            <if test="triggerModeCode != null">#{triggerModeCode},</if>
            <if test="triggerContent != null">#{triggerContent},</if>
            <if test="triggerId != null">#{triggerId},</if>
            <if test="actuatorIds != null">#{actuatorIds},</if>
            <if test="actuatorContent != null">#{actuatorContent},</if>
            <if test="executeTime != null">#{executeTime},</if>
        </trim>
    </insert>

    <update id="updateScene" parameterType="Scene">
        update athena_bes_scene
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="triggerMode != null">trigger_mode = #{triggerMode},</if>
            <if test="sceneStatus != null">scene_status = #{sceneStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSceneById" parameterType="Long">
        delete from athena_bes_scene where id = #{id}
    </delete>


    <update id="updateSceneLog" parameterType="SceneLog">
        update athena_bes_scene_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="sceneId != null">scene_id = #{sceneId},</if>
            <if test="sceneName != null">scene_name = #{sceneName},</if>
            <if test="triggerModeCode != null">trigger_mode_code = #{triggerModeCode},</if>
            <if test="triggerContent != null">trigger_content = #{triggerContent},</if>
            <if test="triggerId != null">trigger_id = #{triggerId},</if>
            <if test="actuatorIds != null">actuator_ids = #{actuatorIds},</if>
            <if test="actuatorContent != null">actuator_content = #{actuatorContent},</if>
            <if test="executeTime != null">execute_time = #{executeTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSceneLogById" parameterType="Long">
        delete from athena_bes_scene_log where id = #{id}
    </delete>


    <delete id="deleteSceneByIds" parameterType="String">
        delete from athena_bes_scene where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
