<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zc.efounder.JEnterprise.mapper.scheduling.PlanConfigMapper">

    <resultMap type="PlanController" id="PlanControllerResult">
        <result property="id" column="id"/>
        <result property="modelControlId" column="model_control_id"/>
        <result property="sceneControlId" column="scene_control_id"/>
        <result property="planId" column="plan_id"/>
        <result property="name" column="name"/>
        <result property="alias" column="alias"/>
        <result property="active" column="active"/>
        <result property="planType" column="plan_type"/>
        <result property="startDate" column="start_date"/>
        <result property="startTime" column="start_time"/>
        <result property="endDate" column="end_date"/>
        <result property="endTime" column="end_time"/>
        <result property="executionWay" column="execution_way"/>
        <result property="weekMask" column="week_mask"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="collectType" column="collect_type"/>
        <result property="interval" column="interval"/>
        <result property="schedulingId" column="scheduling_id"/>
        <result property="synchState" column="synch_state"/>
        <result property="modelControlName" column="model_control_name"/>
        <result property="sceneControlName" column="scene_control_name"/>
        <result property="sceneControlDescribe" column="scene_control_describe"/>
    </resultMap>

    <resultMap type="PlanCollection" id="PlanCollectionResult">
        <result property="id" column="id"/>
        <result property="modelCollectionId" column="model_collection_id"/>
        <result property="name" column="name"/>
        <result property="alias" column="alias"/>
        <result property="collectionType" column="collection_type"/>
        <result property="variationValue" column="variation_value"/>
        <result property="cronExpr" column="cron_expr"/>
        <result property="startStatus" column="start_status"/>
        <result property="planId" column="plan_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="PlanConfig" id="PlanConfigResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="parentId" column="parent_id"/>
        <result property="type" column="type"/>
    </resultMap>


    <sql id="selectPlanControllerVo">
        select id, model_control_id, scene_control_id, name, alias, active, plan_type, start_date, start_time, end_date, end_time, execution_way, week_mask, create_time, update_time, collect_type, `interval`, scheduling_id, synch_state from athena_bes_plan_control
    </sql>

    <sql id="selectPlanCollectionVo">
        select id,model_collection_id,name,alias,collection_type,variation_value,cron_expr,start_status,create_time,update_time,plan_id from athena_bes_plan_collection
    </sql>


    <sql id="selectPlanConfigVo">
        SELECT id, name, create_by, create_time, parent_id, type from athena_bes_plan_config
    </sql>

    <!--左侧计划树-->
    <select id="getAllPlanConfigListInfo" parameterType="PlanConfig" resultMap="PlanConfigResult">
        <include refid="selectPlanConfigVo"/>
    </select>

    <!--查询计划信息-->
    <select id="getPlanConfigInfo" parameterType="PlanConfig" resultMap="PlanConfigResult">
        <include refid="selectPlanConfigVo"/>
        where id = #{id}
    </select>

    <!--计划查重-->
    <select id="getPlanConfigCheck" parameterType="PlanConfig" resultMap="PlanConfigResult">
        <include refid="selectPlanConfigVo"/>
        <where>
            <if test="name != null ">
                and name = #{name}
            </if>
            <if test="id != null ">
                and id != #{id}
            </if>

        </where>
    </select>

    <select id="getPlanControllerCheck" parameterType="PlanController" resultMap="PlanControllerResult">
        <include refid="selectPlanControllerVo"/>
        <where>
            <if test="name != null ">
                and name = #{name}
            </if>
            <if test="id != null ">
                and id != #{id}
            </if>

        </where>
    </select>

    <!--新增计划-->
    <insert id="addPlanConfig" parameterType="PlanConfig">
        insert into athena_bes_plan_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="parentId != null and parentId != '' or parentId == 0">parent_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="type != null">type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="parentId != null and parentId != '' or parentId == 0">#{parentId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="type != null">#{type},</if>
        </trim>
    </insert>

    <!--修改计划-->
    <update id="editPlanConfig" parameterType="PlanConfig">
        update athena_bes_plan_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <!--修改计划-->
    <update id="editPlanConfigId" parameterType="PlanConfig">
        update athena_bes_plan_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null and id != ''">id = #{id},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where name = #{name}
    </update>

    <!--删除计划-->
    <delete id="delPlanConfig" parameterType="Long">
        delete from athena_bes_plan_config where id = #{id}
    </delete>

    <!--查询控制计划列表-->
    <select id="selectPlanControllerList" parameterType="PlanController" resultMap="PlanControllerResult">
        SELECT t1.id, t1.model_control_id, t1.scene_control_id, t1.name, t1.alias, t1.active,t1.start_date,
        t1.start_time,t1.end_date,t1.end_time,t1.execution_way,t1.week_mask,t1.create_time,t1.update_time,
        t1.collect_type,t1.`interval`,t1.scheduling_id,t1.synch_state,t2.name model_control_name,
        t3.name scene_control_name,t3.description scene_control_describe,t1.plan_type
        FROM
        athena_bes_plan_control t1
        LEFT JOIN athena_bes_scene_model_control t2 ON t1.model_control_id = t2.id
        LEFT JOIN athena_bes_scene_control t3 ON t1.scene_control_id = t3.id
        <where>
            <if test="planId != null ">and (
                t1.plan_id = #{planId} OR
                t1.plan_id in (
                SELECT id FROM ( SELECT t1.id, IF ( find_in_set( parent_id, @pids ) > 0, @pids := concat( @pids, ',', id
                ), 0 ) AS ischild
                FROM ( SELECT id, parent_id FROM athena_bes_plan_config t ORDER BY parent_id, id ) t1,( SELECT @pids :=
                #{planId}) t2
                ) t3 WHERE ischild != 0))
            </if>
            <if test="name != null and name != ''">and t1.name like concat('%', #{name}, '%')</if>
            <!--and date_format(t1.start_date,'%y%m%d') &gt;= date_format(#{startDate},'%y%m%d')-->
            <if test="startDate != null">
                and date_format(t1.start_date,'%y%m%d') = date_format(#{startDate},'%y%m%d')
            </if>
            <if test="endDate != null">
                and date_format(t1.end_date,'%y%m%d') = date_format(#{endDate},'%y%m%d')
            </if>
            <if test="id != null">
                and t1.id != #{id}
            </if>
        </where>
    </select>

    <!--查询控制计划列表-->
    <select id="selectAllPlanControllerList" parameterType="PlanController" resultMap="PlanControllerResult">
        <include refid="selectPlanControllerVo"/>
        <where>
            <if test="modelControlId != null ">and model_control_id = #{modelControlId}</if>
        </where>
    </select>

    <!--查询采集计划列表-->
    <select id="selectPlanCollectionList" parameterType="PlanCollection" resultMap="PlanCollectionResult">
        <include refid="selectPlanCollectionVo"/>
        <where>
            <if test="planId != null ">and plan_id = #{planId}</if>
        </where>
    </select>

    <!--查询控制计划信息-->
    <select id="selectPlanControllerById" parameterType="PlanController" resultMap="PlanControllerResult">
        <include refid="selectPlanControllerVo"/>
        where id = #{id}
    </select>

    <!--新增控制计划-->
    <insert id="insertPlanController" parameterType="PlanController" useGeneratedKeys="true" keyProperty="id">
        insert into athena_bes_plan_control
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="modelControlId != null">model_control_id,</if>
            <if test="sceneControlId != null">scene_control_id,</if>
            <if test="planId != null">plan_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="alias != null and alias != ''">alias,</if>
            <if test="planType != null">plan_type,</if>
            <if test="active != null">active,</if>
            <if test="startDate != null">start_date,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endDate != null">end_date,</if>
            <if test="endTime != null">end_time,</if>
            <if test="executionWay != null">execution_way,</if>
            <if test="weekMask != null and weekMask != ''">week_mask,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="collectType != null">collect_type,</if>
            <if test="interval != null">interval,</if>
            <if test="schedulingId != null">scheduling_id,</if>
            <if test="synchState != null">synch_state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="modelControlId != null">#{modelControlId},</if>
            <if test="sceneControlId != null">#{sceneControlId},</if>
            <if test="planId != null">#{planId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="alias != null and alias != ''">#{alias},</if>
            <if test="planType != null">#{planType},</if>
            <if test="active != null">#{active},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="executionWay != null">#{executionWay},</if>
            <if test="weekMask != null and weekMask != ''">#{weekMask},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="collectType != null">#{collectType},</if>
            <if test="interval != null">#{interval},</if>
            <if test="schedulingId != null">#{schedulingId},</if>
            <if test="synchState != null">#{synchState},</if>
        </trim>
    </insert>

    <!--修改控制计划-->
    <update id="updatePlanController" parameterType="PlanController">
        update athena_bes_plan_control
        <trim prefix="SET" suffixOverrides=",">
            <if test="modelControlId != null">model_control_id = #{modelControlId},</if>
            <if test="sceneControlId != null">scene_control_id = #{sceneControlId},</if>
            <if test="planId != null">plan_id = #{planId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="alias != null and alias != ''">alias = #{alias},</if>
            <if test="active != null">active = #{active},</if>
            <if test="planType != null">plan_type = #{planType},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="executionWay != null">execution_way = #{executionWay},</if>
            <if test="weekMask != null and weekMask != ''">week_mask = #{weekMask},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="collectType != null">collect_type = #{collectType},</if>
            <if test="interval != null">interval = #{interval},</if>
            <if test="schedulingId != null">scheduling_id = #{schedulingId},</if>
            <if test="synchState != null">synch_state = #{synchState},</if>
        </trim>
        where id = #{id}
    </update>

    <!--删除控制计划-->
    <delete id="deletePlanConfigByIds" parameterType="String">
        delete from athena_bes_plan_control where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--删除控制计划-->
    <delete id="deletePlanConfigById" parameterType="Long">
        delete from athena_bes_plan_control where id = #{id}
    </delete>

    <!--控制计划数据对比上位机信息-->
    <select id="planPointContrast" parameterType="PlanController" resultType="java.util.Map">
        SELECT t1.id planId, t1.name planName, t1.alias planAlias, t1.active, t1.start_date startDate, t1.start_time startTime,
            t1.end_date endDate, t1.end_time endTime, t2.id sceneId, t2.name sceneName, t3.model_id modelId, t3.name modelName
        FROM
            athena_bes_plan_control t1
            LEFT JOIN athena_bes_scene_control t2 ON t1.scene_control_id = t2.id
            LEFT JOIN athena_bes_scene_model_control t3 ON t1.model_control_id = t3.id
        WHERE
            t1.id = #{id}
    </select>

    <!--控制计划采集计划查询最大id-->
    <select id="selectMaxId" parameterType="PlanController" resultType="Long">
        SELECT id FROM (
            ( SELECT id FROM athena_bes_plan_control ORDER BY id DESC LIMIT 1 )
            UNION ALL
            ( SELECT id FROM athena_bes_plan_collection ORDER BY id DESC LIMIT 1 )
        )a ORDER BY id LIMIT 1
    </select>
</mapper>