<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.efounder.JEnterprise.mapper.baseData.AgreementMapper">
    <resultMap type="Agreement" id="AgreementResult">
        <result property="id"    column="id"    />
        <result property="agreementName"    column="agreement_name"    />
        <result property="agreementCode"    column="agreement_code"    />
        <result property="agreementType"    column="agreement_type"    />
        <result property="httpAddress"    column="http_address"    />
        <result property="mqttAddress"    column="mqtt_address"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAgreementVo">
        select id, agreement_name, agreement_code, agreement_type, http_address, mqtt_address, create_time, update_time from athena_bes_agreement
    </sql>

    <select id="selectAgreementList" parameterType="Agreement" resultMap="AgreementResult">
        <include refid="selectAgreementVo"/>
        <where>
            <if test="agreementName != null  and agreementName != ''"> and agreement_name like concat('%', #{agreementName}, '%')</if>
            <if test="agreementCode != null  and agreementCode != ''"> and agreement_code = #{agreementCode}</if>
            <if test="agreementType != null "> and agreement_type = #{agreementType}</if>
            <if test="httpAddress != null  and httpAddress != ''"> and http_address = #{httpAddress}</if>
            <if test="mqttAddress != null  and mqttAddress != ''"> and mqtt_address = #{mqttAddress}</if>
        </where>
    </select>

    <select id="selectAgreementById" parameterType="Long" resultMap="AgreementResult">
        <include refid="selectAgreementVo"/>
        where id = #{id}
    </select>

    <insert id="insertAgreement" parameterType="Agreement" useGeneratedKeys="true" keyProperty="id">
        insert into athena_bes_agreement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="agreementName != null">agreement_name,</if>
            <if test="agreementCode != null">agreement_code,</if>
            <if test="agreementType != null">agreement_type,</if>
            <if test="httpAddress != null">http_address,</if>
            <if test="mqttAddress != null">mqtt_address,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="agreementName != null">#{agreementName},</if>
            <if test="agreementCode != null">#{agreementCode},</if>
            <if test="agreementType != null">#{agreementType},</if>
            <if test="httpAddress != null">#{httpAddress},</if>
            <if test="mqttAddress != null">#{mqttAddress},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAgreement" parameterType="Agreement">
        update athena_bes_agreement
        <trim prefix="SET" suffixOverrides=",">
            <if test="agreementName != null">agreement_name = #{agreementName},</if>
            <if test="agreementCode != null">agreement_code = #{agreementCode},</if>
            <if test="agreementType != null">agreement_type = #{agreementType},</if>
            http_address = #{httpAddress},
            mqtt_address = #{mqttAddress},
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAgreementById" parameterType="Long">
        delete from athena_bes_agreement where id = #{id}
    </delete>

    <delete id="deleteAgreementByIds" parameterType="String">
        delete from athena_bes_agreement where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
