.inner_title {
  font-weight: bold;
  font-size: 28px;
  color: #373d41;
  margin: 0px;
  margin-bottom: 10px;
}
.el-popover--plain {
  padding: 10px;
}
.stageContainer i {
  margin-left: 5px;
}
.flex-flow {
  flex-flow: column;
}
.flex_left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.selectStyle {
}
